ollama
psutil
faster-whisper
sounddevice
soundfile
numpy
keyboard
piper-tts
nvidia-cublas-cu12
nvidia-cudnn-cu12==9.*
openwakeword
pycaw
comtypes
screen_brightness_control
pygetwindow
pyperclip
chromadb
duckduckgo-search
requests
beautifulsoup4
Pillow
ddgs